//- Copyright 2023 Mantel Group Pty Ltd

//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at

//-    http://www.apache.org/licenses/LICENSE-2.0

//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.

extends layout

block layout-content
  div.d-flex.flex-column
    div.d-flex(style='height:200px')
      img(src='/images/banner.png' width='700px')
    div.p-3
      h2 New Credit Card Application
      text Fill out the form below to apply for a new credit card application as a new customer

    form.p-3(role='form' method='POST' action='/submitted' style='width:500px')
      div.form-group.mb-3
        label(for='name') Full Name:
        input#name.form-control(type='text' placeholder='full name' name='name')
      div.form-group.mb-3
        label(for='email') Email Address:
        input#email.form-control(type='email' placeholder='address@email.com' name='email')
      div.form-group.mb-3
        label(for='email') Requested Credit $:
        input#credit.form-control(type='number' placeholder='6000' name='credit')
      button.btn.btn-primary(type="submit" name="asdf") Submit
