extends layout

block layout-content
  div.d-flex.flex-column
    div.d-flex(style='height:200px')
      //- div.w-100(style='background: #D7A088')
      img(src='/images/banner.png' width='700px')
    div.p-3
      h2 Application Submitted Successfully!
      text Please await our email with further instructions. It may take 5-10 business days, hold tight!
    div.p-3
      a(href='/') I want to submit another application
